#icon-wifi {
    float: right;
    padding-right: 5px;
}
#icon-battery-full {
    float: right;
    padding-right: 5px;
}
#icon-alarm {
    padding-left: 5px;
}
#HL-title {
    background-color: #5fd2ae;
}
